@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,400;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;;
}
.hero{
     background-image: url(../images/cow.jpg);
     height: 100vh;
     background-size: cover;
     background-position: bottom center;
     clip-path: polygon(0 0, 100% 0, 100% 73%, 52% 100%, 53% 100%, 0 71%);
}
.hero h1{
    text-align: center;
    color: azure;
    font-size: 100px;
    font-weight: 800px;
    font-family:cursive;
    word-spacing: 4px;
    letter-spacing: 20px;
    padding-top: 60px;
}
.apple, #cow-types{
    width:80%;
    margin: 60px auto;
    background: linear-gradient(45deg ,pink,blue );
    padding: 60px;
}
.apple h2, #cow-types h2{
    text-align: center;
    font-size: 48px;
    border-bottom: 2px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-color: yellow;
    border-style:solid;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.apple p{
    font-size: 28px;
    line-height: 1em;
}
.apple p .imp{
    background-color: red;
}
.cow-images{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.cow-images div{
    min-width: 250px;
}
.cow-images img{
    width: 100%;
}